
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
			border-radius: $radius;
}
@mixin box-shadow($x, $y, $blur, $color) {
	-webkit-box-shadow: $x $y $blur $color;
	   -moz-box-shadow: $x $y $blur $color;
			box-shadow: $x $y $blur $color;
}
@mixin perspective($amount) {
	   -moz-perspective: $amount;
	-webkit-perspective: $amount;
			perspective: $amount;
}
@mixin perspective-origin($x, $y) {
	   -moz-perspective-origin: $x $y;
	-webkit-perspective-origin: $x $y;
			perspective-origin: $x $y;
}
@mixin rotate($axis, $deg) {
	   -moz-transform: rotate#{$axis + "(" + $deg + ")"};
	-webkit-transform: rotate#{$axis + "(" + $deg + ")"};
			transform: rotate#{$axis + "(" + $deg + ")"};
}
@mixin translate($axis, $deg) {
	   -moz-transform: translate#{$axis + "(" + $deg + ")"};
	-webkit-transform: translate#{$axis + "(" + $deg + ")"};
			transform: translate#{$axis + "(" + $deg + ")"};
}
@mixin transition($prop, $duration, $easing, $delay:0) {
	   -moz-transition: $prop $duration $easing $delay;
	-webkit-transition: $prop $duration $easing $delay;
			transition: $prop $duration $easing $delay;
}

#dock-container {
	height: 136px;
	position: fixed;
	bottom: 60px;
	text-align: center;
	width: 100%;
	   -moz-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
			transform-style: preserve-3d;
	.dock-inner-container {
		display: inline-block;
		min-width: 20%;
		@include perspective(500px);
	}
	.dock {
		@include perspective(500px);
		@include rotate(X, 50deg);
		.top, .side {
		// width: 80%;
		// margin: 0 auto;
		}
		.top {
			position: relative;
			height: 60px;
			background-image: -o-linear-gradient(-90deg, #8A8A8A 0%, #CCCCCC 97%, #FFFFFF 100%);
			background-image: -moz-linear-gradient(-90deg, #8A8A8A 0%, #CCCCCC 97%, #FFFFFF 100%);
			background-image: -webkit-linear-gradient(-90deg, #8A8A8A 0%, #CCCCCC 97%, #FFFFFF 100%);
			background-image: -ms-linear-gradient(-90deg, #8A8A8A 0%, #CCCCCC 97%, #FFFFFF 100%);
			background-image: linear-gradient(-180deg, #8A8A8A 0%, #CCCCCC 97%, #FFFFFF 100%);
			z-index: 2;
			@include border-radius(6px);
		}
		.side {
			height: 16px;
			background-color: #909090;
			z-index: 1;
			-webkit-border-bottom-right-radius: 5px;
			-webkit-border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
			border-bottom-left-radius: 5px;
			@include perspective(500px);
			   -moz-transform: rotateX(-45deg) translateZ(-7px);
			-webkit-transform: rotateX(-45deg) translateZ(-7px);
					transform: rotateX(-45deg) translateZ(-7px);
			position: relative;
			top: -1px;
		}
	}
	.app-container {
		text-align: center;
		height: 120px;
		display: table-cell;
		vertical-align: bottom;
		font-size: 0;
		padding: 0 30px;
		.app {
			height: 40px;
			width: 40px;
			background-color: red;
			display: inline-block;
			margin: 0 6px;
			// @include transition(height, 0.1s, ease-out);
			position: relative;
			top: 40px;
			z-index: 4;
			@include box-shadow(0, 2px, 2px, rgba(0,0,0,0.5));
		}
	}
}

body {
	background: url(../img/bg-min.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#debug {
	position: absolute;
	top: 0;
	right: 0;
	height: 100px;
	width: 100px;
	color: white;
	background-color: orange;
	overflow: hidden;
}
























