
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
			border-radius: $radius;
}
@mixin box-shadow($x, $y, $blur, $color) {
	-webkit-box-shadow: $x $y $blur $color;
	   -moz-box-shadow: $x $y $blur $color;
			box-shadow: $x $y $blur $color;
}
@mixin perspective($amount) {
	   -moz-perspective: $amount;
	-webkit-perspective: $amount;
			perspective: $amount;
}
@mixin perspective-origin($x, $y) {
	   -moz-perspective-origin: $x $y;
	-webkit-perspective-origin: $x $y;
			perspective-origin: $x $y;
}
@mixin rotate($axis, $deg) {
	   -moz-transform: rotate#{$axis + "(" + $deg + ")"};
	-webkit-transform: rotate#{$axis + "(" + $deg + ")"};
			transform: rotate#{$axis + "(" + $deg + ")"};
}
@mixin translate($axis, $deg) {
	   -moz-transform: translate#{$axis + "(" + $deg + ")"};
	-webkit-transform: translate#{$axis + "(" + $deg + ")"};
			transform: translate#{$axis + "(" + $deg + ")"};
}
@mixin transition($prop, $duration, $easing, $delay:0) {
	   -moz-transition: $prop $duration $easing $delay;
	-webkit-transition: $prop $duration $easing $delay;
			transition: $prop $duration $easing $delay;
}
@mixin blur($val) {
	filter: blur($val);
	-webkit-filter: blur($val);
	-moz-filter: blur($val);
	-o-filter: blur($val);
	-ms-filter: blur($val);
}
@mixin opacity($val) {
	opacity: $val;
	filter:alpha(opacity=($val*100)); /* For IE8 and earlier */
}

#dock-container {
	position: fixed;
	bottom: -52px; // offset .dock bottom
	text-align: center;
	width: 100%;
	   -moz-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
			transform-style: preserve-3d;
	.dock-inner-container {
		display: inline-block;
		min-width: 20%;
		@include perspective(500px);
	}
	.dock {
		height: 100%;
		width: 100%;
		position: relative;
		bottom: 52px;
		@include perspective(500px);
		@include rotate(X, 50deg);
		.top {
			position: relative;
			height: 60px;
			background-image: -o-linear-gradient(-90deg, #74667f 0%, #c5bdcc 97%, #FFFFFF 100%);
			background-image: -moz-linear-gradient(-90deg, #74667f 0%, #c5bdcc 97%, #FFFFFF 100%);
			background-image: -webkit-linear-gradient(-90deg, #74667f 0%, #c5bdcc 97%, #FFFFFF 100%);
			background-image: -ms-linear-gradient(-90deg, #74667f 0%, #c5bdcc 97%, #FFFFFF 100%);
			background-image: linear-gradient(-180deg, #74667f 0%, #c5bdcc 97%, #FFFFFF 100%);
			z-index: 2;
			@include border-radius(6px);
		}
		.side {
			height: 16px;
			background-color: #8c8990;
			z-index: 1;
			-webkit-border-bottom-right-radius: 5px;
			-webkit-border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
			border-bottom-left-radius: 5px;
			   -moz-transform: rotateX(-45deg) translateZ(-7px);
			-webkit-transform: rotateX(-45deg) translateZ(-7px);
					transform: rotateX(-45deg) translateZ(-7px);
			position: relative;
			top: -1px;
		}
	}
	.app-container {
		text-align: center;
		height: 140px;
		display: table-cell;
		vertical-align: bottom;
		font-size: 0;
		padding: 0 10px 10px;
		overflow: hidden;
		.app-inner-container {
			display: inline-block;
		}
		.title {
			font-size: 12px;
			font-family: 'Lucida Grande', sans-serif;
			color: white;
			float: left;
			position: absolute;
			top: 0px;
			width: 150px;
			margin-left: -26px;
			display: none;
			span {
				background-color: rgba(25,25,25,0.5);
				display: inline-block;
				padding: 2px 8px;
				@include border-radius(20px);
			}
		}
		.app {
			height: 40px;
			width: 40px;
			display: inline-block;
			margin: 0 2px;
			z-index: 4;
			position: relative;
			// top: 42px;
			// @include transition(height, 0.1s, ease-out);
			img {
				max-width: 100%;
				display: block;
				margin: 0;
				padding: 0;
				position: relative;
				z-index: 4;
			}
			.shadow {
				-ms-transform: rotate(180deg);
			-webkit-transform: rotate(180deg);
					transform: rotate(180deg);
					position: relative;
					bottom: 3px;
					z-index: 3;
					clip: rect(0,90px,100px,0);
					@include blur(1px);
					@include opacity(0.3);
			}
		}
		.divider {
			display: inline-block;
			margin: 0 8px;
			z-index: 4;
			height: 30px;
			width: 1px;
			background-color: rgba(115,115,115,0.5);
				-ms-transform: rotate(-24deg);
			-webkit-transform: rotate(-24deg);
					transform: rotate(-24deg);
			position: relative;
			// top: 47px;
			top: 6px;
		}
	}
}

body {
	background: url(../img/bg-min.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#debug {
	position: absolute;
	top: 0;
	right: 0;
	height: 100px;
	width: 100px;
	color: white;
	background-color: orange;
	overflow: hidden;
}
























