#dock-container {
  height: 136px;
  position: fixed;
  bottom: 60px;
  text-align: center;
  width: 100%;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
#dock-container .dock-inner-container {
  display: inline-block;
  min-width: 20%;
  -moz-perspective: 500px;
  -webkit-perspective: 500px;
  perspective: 500px;
}
#dock-container .dock {
  -moz-perspective: 500px;
  -webkit-perspective: 500px;
  perspective: 500px;
  -moz-transform: rotateX(50deg);
  -webkit-transform: rotateX(50deg);
  transform: rotateX(50deg);
}
#dock-container .dock .top {
  position: relative;
  height: 60px;
  background-image: -o-linear-gradient(-90deg, #8a8a8a 0%, #cccccc 97%, white 100%);
  background-image: -moz-linear-gradient(-90deg, #8a8a8a 0%, #cccccc 97%, white 100%);
  background-image: -webkit-linear-gradient(-90deg, #8a8a8a 0%, #cccccc 97%, white 100%);
  background-image: -ms-linear-gradient(-90deg, #8a8a8a 0%, #cccccc 97%, white 100%);
  background-image: linear-gradient(-180deg, #8a8a8a 0%, #cccccc 97%, white 100%);
  z-index: 2;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
#dock-container .dock .side {
  height: 16px;
  background-color: #909090;
  z-index: 1;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-perspective: 500px;
  -webkit-perspective: 500px;
  perspective: 500px;
  -moz-transform: rotateX(-45deg) translateZ(-7px);
  -webkit-transform: rotateX(-45deg) translateZ(-7px);
  transform: rotateX(-45deg) translateZ(-7px);
  position: relative;
  top: -1px;
}
#dock-container .app-container {
  text-align: center;
  height: 120px;
  display: table-cell;
  vertical-align: bottom;
  font-size: 0;
  padding: 0 30px;
}
#dock-container .app-container .app {
  height: 40px;
  width: 40px;
  display: inline-block;
  margin: 0 2px;
  position: relative;
  top: 42px;
  z-index: 4;
}
#dock-container .app-container .app img {
  max-width: 100%;
  display: block;
  margin: 0;
  padding: 0;
}
#dock-container .app-container .divider {
  display: inline-block;
  margin: 0 2px;
  position: relative;
  top: 52px;
  z-index: 4;
  height: 40px;
  width: 1px;
  background-color: rgba(100, 100, 100, 0.5);
  -moz-transform: rotateX(50deg);
  -webkit-transform: rotateX(50deg);
  transform: rotateX(50deg);
}

body {
  background: url(../img/bg-min.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#debug {
  position: absolute;
  top: 0;
  right: 0;
  height: 100px;
  width: 100px;
  color: white;
  background-color: orange;
  overflow: hidden;
}
