#dock-container {
  position: fixed;
  bottom: -52px;
  text-align: center;
  width: 100%;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
#dock-container .dock-inner-container {
  display: inline-block;
  min-width: 20%;
  -moz-perspective: 500px;
  -webkit-perspective: 500px;
  perspective: 500px;
}
#dock-container .dock {
  height: 100%;
  width: 100%;
  position: relative;
  bottom: 52px;
  -moz-perspective: 500px;
  -webkit-perspective: 500px;
  perspective: 500px;
  -moz-transform: rotateX(50deg);
  -webkit-transform: rotateX(50deg);
  transform: rotateX(50deg);
}
#dock-container .dock .top {
  position: relative;
  height: 60px;
  background-image: -o-linear-gradient(-90deg, #74667f 0%, #c5bdcc 97%, white 100%);
  background-image: -moz-linear-gradient(-90deg, #74667f 0%, #c5bdcc 97%, white 100%);
  background-image: -webkit-linear-gradient(-90deg, #74667f 0%, #c5bdcc 97%, white 100%);
  background-image: -ms-linear-gradient(-90deg, #74667f 0%, #c5bdcc 97%, white 100%);
  background-image: linear-gradient(-180deg, #74667f 0%, #c5bdcc 97%, white 100%);
  z-index: 2;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
#dock-container .dock .side {
  height: 16px;
  background-color: #8c8990;
  z-index: 1;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-transform: rotateX(-45deg) translateZ(-7px);
  -webkit-transform: rotateX(-45deg) translateZ(-7px);
  transform: rotateX(-45deg) translateZ(-7px);
  position: relative;
  top: -1px;
}
#dock-container .app-container {
  text-align: center;
  height: 140px;
  display: table-cell;
  vertical-align: bottom;
  font-size: 0;
  padding: 0 10px 10px;
  overflow: hidden;
}
#dock-container .app-container .app-inner-container {
  display: inline-block;
}
#dock-container .app-container .title {
  font-size: 12px;
  font-family: 'Lucida Grande', sans-serif;
  color: white;
  float: left;
  position: absolute;
  top: 0px;
  width: 150px;
  margin-left: -26px;
  display: none;
}
#dock-container .app-container .title span {
  background-color: rgba(25, 25, 25, 0.5);
  display: inline-block;
  padding: 2px 8px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
#dock-container .app-container .app {
  height: 40px;
  width: 40px;
  display: inline-block;
  margin: 0 2px;
  z-index: 4;
  position: relative;
}
#dock-container .app-container .app img {
  max-width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 4;
}
#dock-container .app-container .app .shadow {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  position: relative;
  bottom: 3px;
  z-index: 3;
  clip: rect(0, 90px, 100px, 0);
  filter: blur(1px);
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  opacity: 0.3;
  filter: alpha(opacity=30);
  /* For IE8 and earlier */
}
#dock-container .app-container .divider {
  display: inline-block;
  margin: 0 8px;
  z-index: 4;
  height: 30px;
  width: 1px;
  background-color: rgba(115, 115, 115, 0.5);
  -ms-transform: rotate(-24deg);
  -webkit-transform: rotate(-24deg);
  transform: rotate(-24deg);
  position: relative;
  top: 6px;
}

body {
  background: url(../img/bg-min.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#debug {
  position: absolute;
  top: 0;
  right: 0;
  height: 100px;
  width: 100px;
  color: white;
  background-color: orange;
  overflow: hidden;
}
